$background-color: lightcyan;

a {
    &:link {
      color: blueviolet;
      background-color: transparent;
      text-decoration: none;
    }

    &:visited {
      color: red;  
      background-color: transparent;
      text-decoration: none;
    }
  
    &:hover {
      color: pink;
      background-color: transparent;
      text-decoration: underline;
    }
  
    &:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    grid-area:main;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.container {
  display:grid;
  height: 97px;
  grid-template-columns: 850px;
  grid-template-rows: 70px 1fr 1fr;
  grid-template-areas: 
  "hd"
  "sd"
  "main"
  "ft";
}  

.header {
  grid-area:hd;
  background: cyan;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.box {
  border: 1px solid yellowgreen;
  background: rgb(211, 211, 211);
}

.sidebar {
  grid-area:sd;
  background: $background-color;
  font-size: 325%;
}

.content {
  grid-area:main;
  display: flex;
  flex-direction: row;
  justify-content: auto;
  background-size: cover;
  background-repeat: auto;
  background-position: relative;
}

.nlp-form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background: $background-color; 
    line-height: 10px;
    grid-area:main;
}

#results {
  border: 1px solid yellowgreen;
  background: $background-color;
  line-height: 50px;
  color: lightred;
}

figcaption {
  height: 15px;
  background-color: gray;
  color: white;
  font-style: italic;
  padding: 1px;
  text-align: center;
  font-size: 12px;
}

.header > h1 {
  color: blue;
  font-size: 300%;
}

/* Set up for desktop Screens */
@media (min-width: 900px) and (max-width:1600px) {
.container {
  display:grid;
  grid-template-columns: 130px 300px 300px;
  grid-template-rows: 150px 500px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "sd main main main main main main main"
  "ft ft ft ft ft ft ft ft";
  border: 2px solid lightgray;
  } 
}

/*Set up for display on very large screens, such as projectors*/
@media(min-width:1601px) {
.container {
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 130px 500px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "sd main main main main main main main"
  "ft ft ft ft ft ft ft ft";
  border: 2px solid lightgray;
  } 
}
